body{
  font-family: 'Dosis', sans-serif;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.pelicula{
  margin: 1rem;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 2px;
}

@media screen and (min-width: 600px) {
  .pelicula {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .pelicula {
    flex: 1 1 calc(33% - 2rem);
  }
}
.pelicula__titulo{
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2rem 0;
  font-weight: bold;
  border-radius: 12px;
  background-image: linear-gradient(120deg, #5b776b 0%, #bfc3c8 100%);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border: transparent;
}
.pelicula__descripcion{
  color: #161b24;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
img{
  margin:10px auto;
	display:block;
}
